<div class="components-container">
  <div cdkDropList id="componentList" #componentList="cdkDropList" [cdkDropListData]="components"
    [cdkDropListConnectedTo]="[renderedList]" (cdkDropListDropped)="drop($event)" class="components-list">
    <div class="component-box" *ngFor="let component of components" [cdkDragData]="component" cdkDrag>
      {{component.title}}
    </div>
  </div>
  <div cdkDropList id="renderedList" #renderedList="cdkDropList" [cdkDropListData]="renderedcomponents"
    [cdkDropListConnectedTo]="[componentList]" (cdkDropListDropped)="drop($event)" class="component-renderer" cdkDrop>
    <ng-template *appDynamicComponent="component"></ng-template>
  </div>
</div>